@using BusinessLayer.DTOs.Publisher.View;
@model IEnumerable<GeneralPublisherViewDto>

<h1>Publishers</h1>

<p class="text-end">
    <a class="link-success" asp-action="Create">Create New</a>
</p>

@if (ViewBag.Message != null)
{
    <p class="alert alert-success" role="alert">
        @ViewBag.Message
    </p>
}


<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>


    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-end">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "link-warning" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "link-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "link-danger" })
                </td>
            </tr>
        }
    }
    else
    {
        <td colspan="2" class="text-center"><b>No Publishers Availible. Please Add Data By CLicking On The Create Button</b></td>
    }
</table>
