@using BusinessLayer.DTOs.Book.View;
@using DataAccessLayer.Models.Enums
@model IEnumerable<GeneralBookViewDto>

<h1>Books</h1>

@if (User.IsInRole(UserRoles.Admin))
{
    <p class="text-end"><a class="link-success" asp-action="Create">Create New</a></p>
}

@if (ViewBag.Message != null)
{
    <p class="alert alert-success" role="alert">
        @ViewBag.Message
    </p>
}


<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Primary Author
        </th>
        <th>
            Publisher
        </th>
        <th>
            Genre
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>


    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookGenre)
                </td>
                <td>
                    @(item.Price + " EUR")
                </td>
                <td class="text-end">
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "link-primary" })
                    @if (User.IsInRole(UserRoles.Admin))
                    {
                        <span>|</span>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "link-warning" })
                        <span>|</span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "link-danger" })
                    }
                </td>
            </tr>
        }
    }
    else
    {
        <td colspan="6" class="text-center"><b>No Books Availible.</b></td>
    }
</table>
