@using MVC.Models.Book;
@model PrimaryAuthorViewModel;

<h1>Make/Unmake Author Primary</h1>
<hr />

<div class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Title)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Title)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ISBN)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ISBN)
    </dd>
    <div class="col-md-4">
        <form asp-action="MakeUnmakeAuthorPrimary" asp-route-bookId="@Model.Id">
            <div class="mb-3">
                <label asp-for="AuthorId" class="form-label"></label>
                <select asp-for="AuthorId" asp-items="ViewBag.Authors" class="form-select"></select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="IsPrimary" class="form-label"></label>
                <input asp-for="IsPrimary" class="form-check" />
                <span asp-validation-for="IsPrimary" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Force" class="form-label"></label>
                <input asp-for="Force" class="form-check" />
                <span asp-validation-for="Force" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Make Primary" class="btn btn-primary" /> |
                <a asp-action="Details" asp-route-id="@Model.Id">Back to Book</a>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

