@using BusinessLayer.DTOs.BookStore.View;
@model IEnumerable<GeneralBookStoreViewDto>

<h1>Book Stores</h1>

<p class="text-end">
    <a class="link-success" asp-action="Create">Create New</a>
</p>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
        <th>
            Manager
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>


    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @(item.Address.Street + ", " + item.Address.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "link-warning" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "link-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "link-danger" })
                </td>
            </tr>
        }
    }

    else
    {
        <td colspan="6" class="text-center"><b>No Book Stores Availible. Please Add Data By CLicking On The Create New Button</b></td>
    }
</table>
