@using DataAccessLayer.Models.Account;
@model IEnumerable<LocalIdentityUser>

<h1>Users</h1>

@if (ViewBag.Message != null)
{
    <p class="alert alert-success" role="alert">
        @ViewBag.Message
    </p>
}


<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            UserName
        </th>
        <th>
            Email
        </th>
        <th>
            Role
        </th>
        <th></th>
    </tr>


    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Role)
                </td>
                <td>
                    @Html.ActionLink("Reset Password", "ResetPassword", "Account", new { id = item.Id }, new { @class = "link-warning" })
                </td>
            </tr>
        }
    }
</table>
