@using MVC.Models.WishList;
@model WishListUpdateViewModel;

@using (Html.BeginForm("Edit", "WishList", FormMethod.Post))
{
    <h2>WishList</h2>

    <div class="row" style="width: 100%">
        <label asp-for="Description"></label>
        <input asp-for="Description" value="@Model.Description" />
        <span asp-validation-for="Description"></span>
    </div>

    <div class="row" style="width: 80%">
        <h4>Wish List content:</h4>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Book Title</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                @for (int i = 0; i < Model.WishListItems.Count; i++)
                    {
                        <tr>
                            <td>
                                @Model.WishListItems[i].Id
                            </td>
                            <td>
                                @Model.WishListItems[i].Book.Title
                            </td>
                            <td>
                                <input type="checkbox" name="RemovedBooks" value="@Model.WishListItems[i].Id" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>

    <div class="row" style="width: 100%; height : 200px">
        <h4>Add books to the wishlist</h4>
        <div class="row" style="width: 100%; height: 100%">
            <fieldset style="height: 100%">
            @Html.ListBoxFor(
                model => model.AddedBooks,
                new MultiSelectList(Model.AvailableBooks, "Id", "Title", Model.AddedBooks),
                new { @class = "form-control", style= "height: 100%" }
            )
            </fieldset>
        </div>
    </div>

    <input type="hidden" id="WishListItems" name="WishListItems" />
    <input type="hidden" id="AvailableBooks" name="AvailableBooks" />


    <button type="submit" style="margin-top:50px">Submit</button>
}